.stApp{
    background : linear-gradient(
        135deg,
        #030303 0%,
        #020303 50%,
        #000000 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}
.card {
    background-color: rgb(210, 52, 52);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
h1, h2, h3 {
    color: #0f172a;
    font-weight: 600;
}

div[data-testid="metric-container"] {
    background-color: #f1f5f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(206, 203, 203, 0.05);
}
.prediction-box{
    background : linear-gradient(
        135deg,
        #e0f2fe ,
        #bae6fd 
    );
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #e45f61;

}